<!DOCTYPE html>
<html class="h-full">
  <head>
    <title> IA Domótica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body style="height: auto!important; min-height: 100vh;"> <!-- FIX: NEVER use inline styles, but swal overrides my CSS -->
    <div id="app" class="h-full">
      <layout>
        <%= yield %>
      </layout>
    </div>
  </body>
</html>
